body {
	background-color: #000000;
	margin: 0;
	font-family: 'Open Sans',sans-serif;
	font-size: 13px;
}
table {
  font-size:13px;
}
a:link { 
  text-decoration:none; color:inherit;
}
a:visited {
  color:inherit;
}
a:link:hover, a:visited:hover {
  color:#65EF60;
}
.strip {
  width:1000px; 
  overflow:auto; 
  margin:auto;
  -ms-overflow-style:none;
}
.black {
  background-color:#000000; color:#B4BBBA; border-bottom-color:#B4BBBA;
}
.black .bold {
  color:#FFFFFF;
}
.black .bold {
  color:#FF00FF;
}
.blacksel {
  background-color:#000000; color:#FFFFFF; border-bottom-color:#FFFFFF;
}
.light {
  background-color:#9CA8A8; color:#1A1A1A;
}
.light a:link { 
  font-weight: bolder; color:black;
}
.light a:link:hover, .light a:visited:hover {
  color:#65EF60;
}
.dark {
  background-color:#313131; color:#B8B8B8;
}
.dark .bold {
  color:#FFFFFF;
}
.dark a:link { 
  font-weight: bolder; color:white;
}
.video a:link {
    color:#B8B8B8;
    font-weight:normal;
}
.dark a:link:hover, .dark a:visited:hover {
  color:#65EF60;
}

.hdrlink:hover {
	color: #65EF60;
}
.hdrtop {
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px #5C5C5C solid;
}
.green {
	color: #65EF60;
}
.white { 
	color: #ffffff;
}
.hdrbottom {
  font-size:12px;
}
.heading {
  font-size:22pt; font-weight:lighter; margin-bottom:10px;
}
.heading_smaller {
  font-size:14pt; font-weight:lighter; margin-bottom:10px;
}
.subheading {
  font-size:16pt; 
  font-weight:lighter; 
  margin-bottom:6px;
}
.bullet {
    font-size: 11px;
    line-height: 12px;
    margin-top: 7px;
    margin-left: -11px;
}
.bullet_large {
    font-size: 13px;
    margin-top: 14px;
    margin-left: -11px;
}
.foot {
	font-weight: bold;
        color: #BFBFBF;
        font-size: 11px;
        font-weight: normal;
}
.foot a:link:hover, .foot a:visited:hover {
	color: #65EF60;
}
.footitem {
        width:165px;
        float:left;
        margin:auto;
}
.downloadbutton {
	padding:0px;
}
.downloadinfo {
	font-style:italic;
	font-size:9pt;
	font-weight:light;
}
.downloadheading {
    font-size: 20px;
    font-weight: lighter;
    color: #fff;
}

.headermenu { 
  display:none;
  position:absolute; left:0px; top:-2px; z-index:999;
  width:312px;
  padding-left:8px;
  padding-top:4px;
  padding-bottom:4px;
}
.whatsnewdot {
  font-size:smaller;
  font-weight:lighter;
  color: #ddd;
}
.avoidbreak {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.book {
  margin-top:10px; 
  text-align:right;
  font-size: 11px;
  line-height:12px;
}

.box {
    background-color: #262626;
    margin-bottom: 20px;
}

.box .heading {
    height: 19px;
    font-size: 19px;
    font-weight: lighter;
    padding-top: 4px;
    margin-left: 10px;
}

.box .content {
    background-color: #313131;
    border: 1px solid #262626;
    padding:10px;
    font-size: 12px;
}

.box .content ul {
    list-style-type: square;
    padding: 0;
    margin: 0;
}

.box .content li {
    margin-left: 24px;
    margin-bottom: 6px;
}

.box .content b {
    font-weight: normal;
    color:#E0E0E0;
}

.videocat:hover {
  color:#65EF60;
  text-decoration:underline;
}

.expanded_section {
  display:none;
}

.expand_section {
  display:block;
}

.expand_section:target {
 display:none;
}

.expand_section:target ~ .expanded_section {
 display:block;
}

.expand_linkfix a:link {
  font-weight: normal;
}

